html {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/294/691/large_2x/seamless-exotic-pattern-with-tropical-plants-and-geometric-background-vector.jpg");
}

body {
  background-color: #ffe6e6;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
  background-color: pink;
}

.goOption {
  background-color: lightpink;
  margin-bottom: 20px;
}

h2 {
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.linkedIn {
  margin: 20px 0px 20px 0px;
